@import  'normalize';

//variables
$lightRed: #D45658;
$blue: #3C489C;
$offWhite: #EDEDED;
$transitionTime: .5s;


.container {
  background: $offWhite;
  margin: 0 auto;
}

.category-title {
  width: 5em;
  max-width: 210px;
  margin: 1em auto;
  padding-bottom: .3em;

  border-bottom: 3px solid $blue;

  text-align: center;
  color: $blue;
  font-size: 2.5em;
}

.nav-bar {
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: $lightRed;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    a {
      display: inline-block;
      padding: .5em;
      color: $offWhite;
      transition: color $transitionTime;
      &:hover {
        color: $blue;
      }
    } // end a
  }

  .active {
    border-bottom: 4px solid $offWhite;
  }
}

.banner {
  background: orange;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;

  h1, h2 {
    margin: .12em 0;
    font-size: 1.5em;
  }
}

.project-list {
  li, a { color: $blue; }
  li {
    background: $lightRed;
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.2;

    h3 { font-size: 1em; }
    p { font-size: .8em; }

    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);

    transition: box-shadow $transitionTime;

    &:hover {
      box-shadow: 0px 3px 30px rgba(0,0,0,0.7);
    }
  }

  .thumbnail {
    width: 100%;
  }

  .project-info-box {
    padding: .3em 0;
  }

  .fa-github {
    font-size: 1.5em;
    transition: color $transitionTime;
    &:hover {
      color: lighten($blue, 15%);
    }
  }
}

.about {
  // background: green;
  .profile-photo {
    width: 40%;
    border-radius: 50%;
    display: block;
    margin: 1em auto;
  }

  .about-me {
    text-align: center;
    line-height: 1.5;
    font-size: 1.112em;
    color: $blue;
  }
}


.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .contact-links {
    display: flex;
    justify-content: space-around;
    a {
      font-size: 3em;
      color: $lightRed;
      background: $blue;
      display: inline-block;
      transition: all $transitionTime;

      text-align: center;
      vertical-align: center;
      border-radius: 100%;
      padding: .5em;

      display: flex;
      flex-direction: column;
      justify-content: center;

      &:hover {
        color: $blue;
        background: $lightRed;
      }
    }
  }
}

.footer {
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  color: lighten($blue, 30%);
  padding: .5em 0;
  background: $blue;
  line-height: 1.5;
}

.content {
  // Sticky footer
  width: 90%;
  margin: 0 auto;
  min-height: calc(100vh - 84.78px); /* 34px(Nav) + 50.78px(footer)*/
  padding: 1em 0;
}
