@import  'normalize';
@import 'mixins';
@import 'variables';

.container {
  background: $offWhite;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.category-title {
  width: 4em;
  max-width: 160px;
  margin: .5em auto;
  padding-bottom: .1em;

  border-bottom: 2px solid $blue;

  text-align: center;
  color: $blue;
  font-size: 2.5em;
  font-weight: 300;
}

.nav-bar {
  .nav-links {
    @include flexbox(space-around, row);
    align-items: flex-start;
    background: $lightRed;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    text-transform: uppercase;
    letter-spacing: 1.2px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;

    a {
      display: inline-block;
      padding: .5em;
      color: $offWhite;
      transition: color $transitionTime;
      &:hover {
        color: $blue;
      }
    } // end a

    @include mediaQuery(700px) {
      @include flexbox(flex-end, row);
      li {
        margin-right: 1.5em;
        &:last-child {
          margin-right: 1em;
        }
      }
    }
  } // end .nav-links
  .active { border-bottom: 4px solid $offWhite; }
}

.home {
  width: 100% !important;
  background: linear-gradient(208deg, #3c489c, #d45658, #bec13e);
  background-size: 600% 600%;
  @include animation(15s);
}
@include keyframes;

.banner {
  text-align: center;
  line-height: 1.12;
  height: 80vh;

  @include flexbox(center, column);

  h1, h2 { color: #EDEDED; }

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -4px;
    @include mediaQuery(900px) { font-size: 7em; }
  }

  h2 {
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 300;
    @include mediaQuery(900px) { font-size: 1.8em; }
  }

  .line {
    width: 100px;
    height: 3px;
    background: $blue;
    margin: .5em auto;
    border-radius: 50px;
  } // end .line
} // end .banner

.project-list {
  li, a {
    color: $darkGrey;
    font-weight: 300;
  }

  li {
    width: 95%;
    margin: 1em auto;
    padding: 1em;
    background: #FFF;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
    margin-bottom: 1em;
    border-radius: 7px;

    text-align: center;
    line-height: 1.5;

    h3 { font-size: 1.3em; }
    p { font-size: .9em; }

    transition: box-shadow $transitionTime;

    &:hover {
      box-shadow: 0px 3px 30px rgba(0,0,0,0.7);
    }
    @include mediaQuery(600px) { flex-basis: 45%; }
    @include mediaQuery(990px) { flex-basis: 30%; }
  } // end li

  @include mediaQuery(700px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .project-info-box { padding: .3em 0; }

  .fa-github {
    font-size: 1.5em;
    transition: color $transitionTime;
    &:hover {
      color: $lightRed;
    }
  }
} // end .project-list

.thumbnail-box {
  position: relative;
  width: 100%;
  &:hover .thumbnail {opacity: 0.3;}
  &:hover .overlay {opacity: 1;}

  .thumbnail:hover,
  .overlayText:hover,
  .overlayText:active {
    cursor: pointer;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    display: block;

    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
  }

  .overlayText {
    font-family: "Oswald";
    color: #000;
    font-size: 1.12em;
    padding: .8em;
    border-radius: 5px;
    border: 3px solid #000;
  }

  .overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  } // end .thumbnail-box
}

.about {
  .profile-photo {
    width: 40%;
    border-radius: 50%;
    display: block;
    margin: 1em auto;
  }

  .about-me {
    text-align: center;
    line-height: 1.5;
    font-size: 1.112em;
    color: $darkGrey;
  }
} // end .about


.contact {
  @include flexbox(center, column);

  .contact-links {
    @include flexbox(space-around, row);
    a {
      font-size: 3em;
      color: $lightRed;
      background: $blue;
      display: inline-block;
      transition: all $transitionTime;

      text-align: center;
      vertical-align: center;
      border-radius: 100%;
      padding: .5em;

      @include flexbox(center, column);

      &:hover {
        color: $blue;
        background: $lightRed;
      }
    }
  }
} // end .contact

.footer {
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  color: lighten($blue, 30%);
  padding: .5em 0;
  background: $blue;
  line-height: 1.5;
}

.content {
  width: 90%;
  // background: red;
  margin: 0 auto;
  // Sticky footer
  min-height: calc(100vh - 84.78px); /* 34px(Nav) + 50.78px(footer)*/
  padding: 1em 0;
}
